
body {
  font-family: 'Roboto', sans-serif;
  background-image:url(back.jpg);
  background-repeat:no-repeat;

  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #060606;
  color: white;
  padding: 30px 20px;
  text-align: center;
}
header:hover{
  color:#7fe7c1;
}

.blog-posts {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.post {
background-color: rgba(206, 210, 214, 0);
}


.web:hover{
  background-image:url(webD.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x:right;
    transition: background 0.3s ease;

}
.java:hover{
    background-image:url(java.jpg);
      background-size: contain;
  background-repeat: no-repeat;
  background-position-x:right;
  transition: background 0.3s ease;
}
.python:hover{
    background-image:url(python.jpg);
      background-size: contain;
  background-repeat: no-repeat;
  background-position-x:right;
  transition: background 0.3s ease;
}
.meta {
  font-size: 0.9em;
  color:white;
}

.summary {
  margin-top: 10px;
  line-height: 1.5;
}